@{
    Page.Title = "Smapr.at - Simple chit-chat";
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400" rel="stylesheet" type="text/css">
    <link href="@FingerPrintUrl.Create("/css/Site.css")" rel="stylesheet" type="text/css" media="screen">
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Småprat, it's Swedish for chit-chat." />
    <meta name="keywords" content="chat,messaging,im,Smaprat,Småprat,SignalR" />
    <meta name="author" content="Brent Newbury" />
    <meta name="copyright" content="Brent Newbury" />
    <link rel="canonical" href="https://smapr.at/" />
    @HtmlHelper.CreateAnalyticsJs()
</head>
<body>
    <header>
        <h1>Smapr.at</h1><small>Simple chit-chat</small>
        <div id="greeting" data-bind="click: showUserDetails"><span id="greeting-text">Hello, </span><span id="name-placeholder" data-bind="text: name"></span><span class="caret"></span></div>
    </header>
    <main>
        <div id="user-details">
            <input type="text" id="name" placeholder="What's your name?" maxlength="50" title="Type your name" data-bind="value: name, valueUpdate:'afterkeydown', executeOnEnter: setName, event: { focusout: hideUserDetails }, disable: settingName" />
            <div data-bind="text: nameError, visible: nameError, css: { error: nameError }"></div>
        </div>
        <div class="mask"></div>
        <div id="messages" data-bind="foreach: messages">
            <p data-bind="css: type"><span class="name" data-bind="html: from, attr: { title: rawFrom }"></span>: <span data-bind="html: message"></span></p>
        </div>
    </main>
    <footer>
        <ul class="form-arrangement">
            <li data-bind="visible: messageError">
                <div data-bind="text: messageError, css: { error: messageError }"></div>
            </li>
            <li>
                <button type="submit" id="send" disabled data-bind="click: sendMessage, enable: joined, disable: sendingMessage">Send</button>
                <div class="textbox-wrapper"><input type="text" id="message" maxlength="500" placeholder="Type a message" title="Type a message" data-bind="value: message, valueUpdate: 'afterkeydown', executeOnEnter: sendMessage, enable: joined, disable: sendingMessage" spellcheck="true" /></div>
            </li>
        </ul>
    </footer>

    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.0.3.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
    <script src="~/scripts/Autolinker.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="~/scripts/Smapr.js"></script>
</body>

</html>
